<a href="/projects/{{ elem.id }}">
    <div class="relative mx-auto w-full h-28 xl:h-40 rounded-2xl outline outline-0 hover:outline-4 outline-pantone transition-all duration-100 ease-in-out">
        <div class="picture w-full h-full bg-cover bg-center bg-no-repeat rounded-2xl flex filter brightness-50 transition-all duration-100 ease-in-out"></div>
        <div class="justify-center flex flex-col space-y-3 xl:space-y-5 h-full absolute right-1/2 transform translate-x-1/2 bottom-1/2 translate-y-1/2 font-bold text-white w-full text-center select-none">
            <span class="lg:text-xl">{{ elem.title }}</span>
            <span class="text-sm"> {{ elem.date }}</span>
            <div>
                {% for tag in elem.tags %}
                    <span class="tag">#{{tag}}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</a>