<div class="time-element">
    <div class="date date-width ">{{ elem.date }}</div>
    <div class="timeline">
        <div class="circle-pantone"></div>
        <div class="line {{ 'rounded-t-full' if first_elem }} {{ 'rounded-b-full' if last_elem }}"></div>
    </div>
    <div class="card card-width flex-col">
        <div class="card-header">
            <div>{{ elem.society }} - {{ elem.type }}</div>
            <div class="location">{{ elem.time }}</div>
        </div>
        <div class="content italic">{{ elem.city }}, {{ elem.country }}</div>
        <div class="content ml-2">
            {% for p in elem.content %}
                <p>{{ p }}</p>
            {% endfor %}
        </div>
    </div>
</div>