<section class="section justify-center items-center flex h-screen lg:relative" id="home">
    <div class="flex flex-col lg:flex-row space-y-12 lg:space-x-24 justify-center items-center">
        <img class="w-2/5 lg:w-1/5 rounded-full" src="../../static/jpg/pp_square.jpg">
        <div class="justify-center">
            <div class="home-text">Hi, <span class="text-pantone">I'm Paul</span></div>
            <div class="home-text">a generalist engineer.</div>
            <div class="mt-6 flex justify-center lg:justify-start space-x-4">
                <a class="button transparent-button" target="blank" href="../../static/pdf/CV_Paul_WALCZAK.pdf">French CV</a>
                <a class="button transparent-button" target="blank" href="../../static/pdf/resume_Paul_WALCZAK.pdf">English CV</a>
            </div>
        </div>
    </div>
    <button class="scroll flex-col space-y-4 items-center">
        <span class="transform rotate-90">scroll</span>
        <svg class="w-6 h-6 fill-white" width="24" height="24" viewBox="0 0 24 24" 
            xmlns="http://www.w3.org/2000/svg">
            <path d="M11 18.17L8.41 15.59L7 17L12 22L17 17L15.59 15.59L13 18.17V2H11V18.17Z" />
        </svg>
    </button>
</section>