<section class="section justify-center items-center flex relative" id="home">
    <div class="flex space-x-24 justify-center items-center">
        <img class="w-1/5 rounded-full saturate-85" src="../../static/png/pp_square.jpg">
        <div class="font-bold text-7xl justify-center">
            <div>Hi, <span class="text-pantone">I'm Paul</span></div>
            <div>a generalist engineer.</div>
        </div>
    </div>
    <button class="scroll flex-col space-y-4">
        <span class="transform rotate-90">sroll</span>
        <svg class="w-6 h-6 fill-white" width="24" height="24" viewBox="0 0 24 24" 
            xmlns="http://www.w3.org/2000/svg">
            <path d="M11 18.17L8.41 15.59L7 17L12 22L17 17L15.59 15.59L13 18.17V2H11V18.17Z" />
        </svg>
    </button>
</section>