<section class="section justify-center items-center flex" id="volunteering">
    <div class="section-content flex flex-col lg:flex-row">
        <div class="grid gap-4 order-last lg:order-first">
            {% for elem in volunteerings %}
            {% include "cards/volunteeringCard.html" %}
            {% endfor %}
        </div>
        <div class="section-title text-left">
            <div>VOLUN</div>
            <div>TEE</div>
            <div>RING</div>
        </div>
    </div>
</section>