<section class="section" id="work-experiences">
    <div class="section-content">
        <div class="section-title text-right">
            <div>WORK</div>
            <div class="lg:hidden">-</div>
            <div>EXPERI</div>
            <div>ENCE</div>
        </div>
        <div class="space-y-2 grow">
            {% with height='h-1' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            {% with height='h-2' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            <div>
                {% for elem in workexperiences %}
                    {% with first_elem=loop.first, last_elem=loop.last %}
                        {% include "cards/workExperienceCard.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% with height='h-2' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            {% with height='h-1' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
        </div>
    </div>
</section>