<section class="section" id="work-experiences">
    <div class="w-full lg:flex items-center h-full">
        <div class="flex justify-center lg:block text-right grow lg:w-1/3 text-4xl lg:text-8xl font-mitr font-medium text-dim my-10">
            <div>WORK</div>
            <div class=":g:hidden">-</div>
            <div>EXPERI</div>
            <div>ENCE</div>
        </div>
        <div class="space-y-2 grow">
            {% with height='h-1' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            {% with height='h-2' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            <div>
                {% for elem in workexperiences %}
                    {% with first_elem=loop.first, last_elem=loop.last %}
                        {% include "cards/workExperienceCard.html" %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% with height='h-2' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
            {% with height='h-1' %}
                {% include "cards/fakeCard.html" %}
            {% endwith %}
        </div>
    </div>
</section>