<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paul Walczak</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;500&display=swap" rel="stylesheet"> 
</head>

<body class="body">
    <!-- Absolute content -->
    {% include "utils/mobileNavBar.html" %}
    {% include "utils/topBar.html" %}
    {% include "utils/navBar.html" %}
    {% include "utils/socialBar.html" %}
    {% include "utils/topButton.html" %}
    
    <!-- Block content -->
    {% include "sections/home.html" %}
    {% include "sections/workExperiences.html" %}
    {% include "sections/projects.html" %}
    {% include "sections/trainings.html" %}
    {% include "sections/skills.html" %}
    {% include "sections/volunteering.html" %}
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="/static/src/js/script.js"></script>