<div class="mobileNavBar">
    <!-- Burger -->
    <div class="absolute top-4 right-4">
        <button class="burger-button group">
            <div class="burger-bg" id="burger">
                <div class="burger-content">
                    <div class="burger-elem origin-left"></div>
                    <div class="burger-elem"></div>
                    <div class="burger-elem origin-left"></div>
                </div>
            </div>
        </button>
    </div>
    <div class="w-screen flex h-screen absolute top-0 -left-full shadow-xl transform transition-all duration-200 z-10" id="panel">
        <div class="bg-jet w-2/3 relative flex items-center justify-end">
            <ul class="flex flex-col items-end space-y-4 m-12">
                <li class="active">
                    <a class="mobile-link" href="#home">
                        <span class="mobile-text">HOME</span>
                    </a>
                </li>
                <li>
                    <a class="mobile-link" href="#work-experiences">
                        <span class="mobile-text">WORK-EXPERIENCES</span>
                    </a>
                </li>
                <li>
                    <a class="mobile-link" href="#volunteering">
                        <span class="mobile-text">VOLUNTEERING</span>
                    </a>
                </li>
                <li>
                    <a class="mobile-link" href="#trainings">
                        <span class="mobile-text">TRAININGS</span>
                    </a>
                </li>
                <li>
                    <a class="mobile-link" href="#skills">
                        <span class="mobile-text">SKILLS</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="grow h-screen" id="panel-outside"></div>
    </div>
</div>