<div class="bar bar-left">
    <nav>
        <div id="navbar">
            <ul>
                <li class="active">
                    <a class="bar bar-group group" href="#home">
                        <span class="circle"></span>
                        <span class="circle-text">HOME</span>
                    </a>
                </li>
                <li>
                    <a class="bar bar-group group" href="#work-experiences">
                        <span class="circle"></span>
                        <span class="circle-text">WORK-EXPERIENCES</span>
                    </a>
                </li>
                <li>
                    <a class="bar bar-group group" href="#projects">
                        <span class="circle"></span>
                        <span class="circle-text">PROJECTS</span>
                    </a>
                </li>
                <li>
                    <a class="bar bar-group group" href="#trainings">
                        <span class="circle"></span>
                        <span class="circle-text">TRAININGS</span>
                    </a>
                </li>
                <li>
                    <a class="bar bar-group group" href="#skills">
                        <span class="circle"></span>
                        <span class="circle-text">SKILLS</span>
                    </a>
                </li>
                <li>
                    <a class="bar bar-group group" href="#volunteering">
                        <span class="circle"></span>
                        <span class="circle-text">VOLUNTEERING</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>